NEXT_PUBLIC_SUPABASE_URL=https://iscrizioni-supabase.stefano-orlando.it
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_URL=https://iscrizioni-supabase.stefano-orlando.it
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000
